/bin/
/obj/
/Release/
/Debug/

*.suo
*.user
*.userosscache
*.sln.docstates

.vs/

/publish/
*.publish.xml

/packages/
project.assets.json

*.pdb
*.idb
*.ipdb
*.iobj
*.cache

*.ComponentModelCache

*.log
*.swp
_ReSharper*/